body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* KAN SKRIVAS SÅ: background color — khaki
    background color: #ffff66; */
    /*background: rgb(255, 255, 102)    ;*/
    background-color: hsla(43, 59%, 56%, 0.92);
}

article,
footer {
    background-color: hsla(40, 100%, 73%, 0.92);
    /*  KAN SKRIVA SÅ background-color: khakif;
    background-color: rgba(228, 180, 58, 0.92)
    background color: #e4b43a;*/
}


article {
    padding: 0 10px;

}

footer {
    flex-direction: column;
    gap: 20px;
}

main {
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: rgb(129, 117, 30);
}

a:hover {
    text-decoration: underline;
}